# Evitar subir node_modules
node_modules
**/node_modules/

# Evitar subir carpetas de build
dist
**/dist/

# Git y control de versiones
.git
.gitignore
**/.git

# Archivos de configuración IDEs
.vscode
.idea

# Logs y archivos temporales
npm-debug.log
yarn-error.log
pnpm-debug.log
*.log
.DS_Store
Thumbs.db

# Variables de entorno
.env
.env.local
.env.*.local

# Archivos relacionados a Docker para no subirlos al build context
Dockerfile
docker-compose.yml

# Otros temporales y caches
coverage
*.lcov

# Carpetas bin y obj de .NET (si aplica)
**/bin/
**/obj/
