---
import LayoutAdmin from "@/layouts/LayoutAdmin.astro";
import MetodoDePagoSetion from "@/React/Auth/MetodoDePagoSetion";
---

<LayoutAdmin title="Configuración - Métodos de pago">
  <div class="p-6">
    <MetodoDePagoSetion client:load />
  </div>
</LayoutAdmin>
