# Global
node_modules/
dist/
.env
*.log
.vscode/
*.DS_Store

# Astro (en /client)
client/node_modules/
client/.astro/
client/dist/

# .NET Core (en /api)
api/bin/
api/obj/
api/*.db
api/.vs/

# Docker
**/Dockerfile
docker-compose.override.yml

# OS
Thumbs.db
