# Global
node_modules/
dist/
.env
*.log
.vscode/
*.DS_Store

# Astro (en /client)
client/node_modules/
client/.astro/
client/.vercel/
client/dist/

# .NET Core (en /api)
api/MvaFood.Api/bin/
api/MvaFood.Api/obj/
api/MvaFood.Api/*.db
api/MvaFood.Api/.vs/

# Docker
**/Dockerfile
docker-compose.override.yml

# OS
Thumbs.db
