---
import Layout from "@/layouts/Layout.astro";
import RestaurantSearchWrapper from "@/React/RestaurantSearchWrapper.tsx";

export const prerender = true;
---

<Layout title="Mva Foods - Restaurantes" description="Encuentra los mejores restaurantes cerca de ti">
  <div class="py-20 min-h-screen">
    <RestaurantSearchWrapper client:load />
  </div>
</Layout>
