---
import LayoutLogin from "@/layouts/LayoutLogin.astro";
import LoginForm from "@/React/Auth/LoginForm";
---

<LayoutLogin title="Login">
  <div class="min-h-screen flex flex-col md:flex-row">
    {/* Lado izquierdo - Imagen o contenido gráfico */}
    <div class="w-full md:w-1/2 bg-blue-600 flex justify-center items-center">
      <img src="../../img/wr-rest.jpg" alt="Login background" class="object-cover w-full h-full" />
    </div>

    {/* Lado derecho - Formulario de Login */}
    <div class="w-full md:w-1/2 bg-white p-8 flex justify-center items-center">
      <LoginForm client:load />
    </div>
  </div>
</LayoutLogin>
