---
import Layout from "@/layouts/Layout.astro";
import MultiStepRestaurantForm from "@/React/Forms/MultiStepRestaurantForm";
---

<Layout title="Mr. Menús - Registrarse">
    <section class="min-h-screen px-6 py-24 bg-gray-50 text-gray-800">
        <MultiStepRestaurantForm client:load planId="d0f95afe-bec7-4df1-966a-d5d7320115c1" />
    </section>
</Layout>