---
import Layout from "@/layouts/Layout.astro";
import MultiStepRestaurantForm from "@/React/Forms/MultiStepRestaurantForm";
---

<Layout title="Mr. Menús - Registrarse">
    <section class="min-h-screen px-6 py-24 bg-gray-50 text-gray-800">
        <MultiStepRestaurantForm client:load planId="b72dbdd8-0786-4549-a44d-1d2bbad6215b" />
    </section>
</Layout>