---
import RestaurantSearch from "@/components/RestaurantSearch.astro";
import Layout from "@/layouts/Layout.astro";
import RestaurantSearchWrapper from "@/React/RestaurantSearchWrapper";
import RestaurantsList from "@/components/RestaurantsList.astro";
import { restaurants } from "@/consts/restaurantes";

//Limpiar los compnenetes que no se estan usando

export const prerender = true;
---

<Layout title="Mva Foods - Home">
  <div class="py-20">
    <RestaurantSearchWrapper client:load />
  </div>
</Layout>
