---
var year = new Date().getFullYear();
---

<!-- Footer -->
<footer class="text-gray-700 text-center py-6 border-t-2 border-t-slate-800">
    <p>© {year} <span class="font-semibold text-orange-600">MVA FOOD</span>. Todos los derechos reservados.</p>
</footer>