---
import Layout from "@/layouts/Layout.astro";
import Caracteristica from "@/components/Characteristics.astro"
---

<Layout title="Mva Foods - Características">
    <div class="lg:h-screen bg-gradient-to-r from-orange-100 to-orange-50 flex items-center justify-center">
        <Caracteristica/>
    </div>

</Layout>