---
import Layout from "@/layouts/Layout.astro";
import ContactoSection from "@/components/Sections/ContactoSection.astro"
---

<Layout title="Mva Foods - Contactos">
    <div class="lg:h-screen bg-gray-100">
        <ContactoSection/>
    </div>

</Layout>