---
import Layout from "@/layouts/Layout.astro";


---
<Layout title="Mva Foods - Precios">
  <div class="flex items-center justify-center h-screen bg-gray-100">
    <div class="text-center">
      <img
        src="/img/work.png"
        alt="MVA logo featuring a stylized hamburger, food truck, utensils, and large text MVA on an orange circle background, conveying a friendly and inviting food-related theme"
        class="mx-auto mb-4 h-48"
      />
      <h1 class="mt-4 text-5xl font-semibold tracking-tight text-orange-800 sm:text-7xl">
        Estamos trabajando
      </h1>

      <!-- Mensaje de aviso -->
      <div class="mt-8 text-lg text-gray-700">
        <p>Aún no tenemos listos los registros ni los pagos.</p>
        <p>Por favor, comunícate con nosotros a través de los contratos y deja tus datos. Nos pondremos en contacto contigo para más detalles.</p>
      </div>

      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a
          href="/contactos"
          class="rounded-md bg-orange-600 px-3.5 py-2.5 text-lg font-semibold text-white shadow-xs hover:bg-orange-800 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600"
        >
          Ir a Contacto
        </a>
      </div>
    </div>
  </div>
</Layout>
