---
import Layout from "@/layouts/Layout.astro";
import QRCodeGenerator from "@/React/Buttons/QRWithLogoButton";

const { searchParams } = new URL(Astro.request.url);
const url =
  searchParams.get("url") ?? "https://mva-food.vercel.app/menus/demo-1";
///qr?url=https://mvafoods.com/menu/abc123
---

<Layout title="Mva Foods - QR">
  <div class="bg-gray-100 flex justify-center items-center lg:h-screen p-24">
    <QRCodeGenerator client:only url={url} />
  </div>
</Layout>
