---
import Layout from "@/layouts/Layout.astro";
import QRCodeGenerator from "@/React/Buttons/QRWithLogoButton";

const { searchParams } = new URL(Astro.request.url);
const url =
  searchParams.get("url") ?? "https://mva-food.vercel.app/menus/demo-1";
///qr?url=https://mvafoods.com/menu/abc123
---

<Layout title="Mva Foods - QR">
  <div class="bg-gray-100 flex justify-center items-center lg:h-screen p-24">
    <!-- <QRCodeGenerator client:only url={url} /> -->
     <form method="post" action="/api/upload" enctype="multipart/form-data" class="space-y-4">
      <input type="file" name="file" />
      <input type="hidden" name="tipo" value="perfil" />
      <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
        Subir Imagen
      </button>
    </form>
       <p class="mt-6 text-sm text-gray-500">
      Las imágenes se mostrarán en: <code>http://localhost:8080/imagenes/nombre.jpg</code>
    </p>
  </div>
</Layout>
