<section
  id="features"
  class="py-20 "
>
  <div class="text-center mb-16 pt-16">
    <h2 class="text-4xl font-semibold text-orange-600 mb-4">
      Contacto
    </h2>
    <p class="text-lg text-gray-700">
      Si tienes alguna pregunta o necesitas más información, no dudes en contactarnos.
    </p>
  </div>
  </section>