<section id="home" class="relative py-20 bg-gradient-to-r from-white to-gray-100 pt-36 h-screen">
    <!-- Banner Content -->
    <div class="container mx-auto px-4 relative z-10">
        <div class="flex flex-col lg:flex-row items-center justify-between">
            <!-- Text Content -->
            <div class="lg:w-1/2 text-center lg:text-left mb-8 lg:mb-0">
                <div class="w-5/6 mx-auto lg:pl-11 lg:mx-0">
                    <h2 class="text-6xl font-bold text-orange-600 mb-4">El Menú de tu Restaurante en la mano de tu Cliente</h2>
                    <p class="text-2xl text-gray-700 mb-8">Permite a tus clientes poder consultar tu menú siempre actualizado mediante un código QR o con un enlace desde tu página web.</p>
    
                    <!-- Mobile Button -->
                    <div class="block md:hidden">
                        <a href="../login/" class="bg-orange-600 text-white px-8 py-3 rounded-lg">Área de Clientes</a>
                    </div>

                </div>
            </div>

           <!-- Image Section -->
            <div class="lg:w-1/2 mt-8 lg:mt-0">
                <div class="flex justify-center lg:justify-end">
                    <img src="img/wr-rest.jpg" alt="App Banner" class="w-full max-w-xs lg:max-w-2xl rounded-tl-[120px] rounded-br-[120px]">
                </div>
            </div>
        </div>
    </div>

    <!-- Counter Section -->
    <div class="mt-20">
        <div class="container mx-auto text-center">
            <h2 class="text-3xl font-semibold text-gray-800 mb-12">Ventajas de Usar Tu Menú en QR</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-12 w-4/5 mx-auto px-4 h-48">
                <div class=" p-4 bg-white shadow-md rounded-lg text-center">
                    <h4 class="text-2xl font-semibold text-orange-600 mb-3">Segura e Higiénica</h4>
                    <p class="text-gray-600">Tus clientes podrán consultar tu Menú de una manera segura, limpia e higiénica, evitando cualquier contagio.</p>
                </div>
                <div class="p-4 bg-white shadow-md rounded-lg text-center">
                    <h4 class="text-2xl font-semibold text-orange-600 mb-3">Minimiza Gastos</h4>
                    <p class="text-gray-600">Reduce los costos de imprimir tu Menú en papel que además no permiten actualizarse frecuentemente.</p>
                </div>
                <div class=" p-4 bg-white shadow-md rounded-lg text-center">
                    <h4 class="text-2xl font-semibold text-orange-600 mb-3">Siempre al Día</h4>
                    <p class="text-gray-600">Mantén tu Menú constantemente actualizado tanto en precios como en el detalle y fotos de tus platos.</p>
                </div>
                <div class=" p-4 bg-white shadow-md rounded-lg text-center">
                    <h4 class="text-2xl font-semibold text-orange-600 mb-3">Autogestionable</h4>
                    <p class="text-gray-600">Gestiona la información de tu establecimiento y tu Menú desde tu computador o tu móvil fácil e intuitivamente sin conocimientos previos.</p>
                </div>
            </div>
        </div>
    </div>
</section>
