---
const { href } = Astro.props
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class="group relative flex grow-0 items-center justify-center bg-transparent object-contain p-1 lg:col-span-1"
>
  <slot />

</a>