---
import LayoutAdmin from "@/layouts/LayoutAdmin.astro";
---

<LayoutAdmin title="Configuración">
  <meta http-equiv="refresh" content="0;url=/admin/configuracion/perfil" />
  <div class="p-6 text-center text-gray-500">
    Redirigiendo a Perfil...
  </div>
</LayoutAdmin>
