---
import LayoutAdmin from "@/layouts/LayoutAdmin.astro";

---

<LayoutAdmin title="Dashboard">
  <h1 class="text-3xl font-bold">Dashboard</h1>
  <p class="mt-4">Bienvenido al panel de administración.</p>
</LayoutAdmin>
