---
const { href } = Astro.props
---

<a
  href={href}
  rel="noopener noreferrer"
  class="flex flex-col items-center justify-center px-2 py-2 rounded-full transition-colors text-center shadow-sm w-full h-full"
>
  <slot />

</a>