---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="img/mva-logo-rb.png" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Mva Foods - Your go-to destination for delicious and healthy food options." />
		<meta name="keywords" content="menus, comida, comida rapida, delivery, comida saludable" />
		<meta name="author" content="Bladdy Almanzar" />
		<title>Mva Foods</title>
	</head>
	<body>
		<div class="max-w-full">

			<Header/>
				<slot />
			<Footer/>
		</div>
	</body>
</html>

<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;
	
</style>
