@tailwind base;
@tailwind components;
@tailwind utilities;
@view-transition{
  navigation: auto;
}
::view-transition-group(*) {
  transition: transform 0.5s ease-in-out;
}

/* tus animaciones personalizadas u otros estilos */
/* Oculta la barra de scroll en todos los navegadores */
body,
html {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE y Edge */
  scroll-behavior: smooth;
}
body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari y Opera */
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.4s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer utilities {
  .animate-pop {
    animation: pop 0.2s ease-out;
  }

  @keyframes pop {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.1);
    }

    100% {
      transform: scale(1);
    }
  }
}